<!DOCTYPE html>
<html>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8553499364283801"
     crossorigin="anonymous"></script>
<style>
    .center {
        text-align: center;
    }
    </style>
<title><%= title %></title>
</head>
<body>
<section class="center">
<h1><%= head_line_1 %></h1>
<form method="post" action="createqr">
Enter URL : <input type="text" name="user_url" /> <input type="submit" name="submit" value="สร้าง QR Code" />
</form>
<p ><img src='./genqr/?user_url=<%= user_url %>' alt='Qr'/></p>
<div><%= status%></div>
</section>
</body>
</html>